<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnthoVDO's blog</title>
</head>

<body>

    <h1>Create a new article</h1>
    <form action="" method="post" class="newArticle_form">

        <div class="newArticle_form_input">
            <label for="name">AnthoVDO</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="newArticle_form_input">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">

        </div>

        <div class="newArticle_form_input">
            <label for="subTitle">Sub-title</label>
            <input type="text" name="subTitle" id="subTitle">

        </div>

        <div class="newArticle_form_input">
            <label for="content">Content</label>
            <input type="text" name="content" id="content">
        </div>

        <div class="newArticle_form_input">
            <label for="files">Add files here</label>
            <input type="file" name="files" id="files">

        </div>

        <div class="newArticle_form_input">
            <input type="submit" value="create new article">
        </div>


    </form>

</body>

</html>